/* Estilos del Header en la página de compra de tickets */
#new-header {
    background-color: #1d76ce;
    color: #fff;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.3s ease;
}

#new-header h1 {
    margin: 0;
    font-size: 2em;
    text-shadow: 2px 2px 4px #0a4678, 2px 2px 6px #0a4678;
    color: #e6ac00;
    transition: color 0.3s ease;
}

#new-header .header-logo {
    display: flex;
    align-items: center;
}

#new-header .header-menu {
    display: flex;
    gap: 30px;
}

#new-header a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: color 0.3s ease;
}

#new-header a:hover {
    text-decoration: underline;
    color: #ffcc00;
}

#new-header:hover {
    background-color: #155799;
}

#new-header:hover h1 {
    color: #fff;
}

/* Media Query para pantallas pequeñas (por ejemplo, smartphones) */
@media (max-width: 767px) {
    #new-header {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    #new-header h1 {
        font-size: 1.5em;
        margin-bottom: 10px;
    }

    #new-header .header-menu {
        margin-top: 10px;
    }

    #new-header a {
        font-size: 1em;
    }
}

/* Estilos Generales */
body {
    background-color: #111;
    color: #eee;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    position: relative;
}

/* Modo Oscuro para la Página */
.bg-dark {
    background-color: #111 !important;
}

/* Estilos específicos para el formulario de login */
.login-container {
    width: 60%;
    margin: auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

form {
    text-align: left;
}

.form-outline {
    position: relative;
}

.form-label {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 16px;
    color: #999;
    pointer-events: none;
    transition: 0.2s ease-out;
}

input:focus+.form-label,
input:valid+.form-label {
    top: -20px;
    left: 0;
    font-size: 14px;
    color: #333;
}

#boton-login {
    width: 100%;
    max-width: 200px;
    height: auto; 
}


button {
    background-color: #333;
    height: auto;
    border: none;
    width: 10%;
    color: #fff;
    padding: 10px;
    font-size: 1em;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #d49900;
}

#footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 90px;
    background-color: #333 !important;
    color: #fff;
    text-align: center;
    line-height: 1.5;
    margin-top: 50px;
}

#footer img {
    width: 100%;
    max-width: 200px;
}

